src/staticfiles/*
src/media/*
src/static/*
src/back_media/*
src/back_static/*
src/.idea/*
src/.env
**/migrations/00*.py
src/db.sqlite3
.venv/*
db.sqlite3
.idea/
back_media/
media/
back_static/
static/*
venv/
*.pyc
storage/
**__pycache__
src/celerybeat-schedule.db
src/celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule
src/celery
celery
# .vscode/
**/.pytest_cache
src/.venv/
.venv/